doctype html
html
  head
    title #{title} - HEY I am Orvi
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 HEY NODE.JS!!!! Welcome :D :D
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus
